<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="MicrosoftTextApiKey" value ="b4aadc9d16004c7bbf1b580d41f730bd" />    
    </appSettings>
</configuration>